/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
.top-bar-right i{
  font-size: 34px;
}
.foo{
  padding-right: 40px;
}
.bar{
  font-size: 34px;
}
.top-bar{
  background-color: #305e4a;
  height: auto;
}

.top-bar ul{

  background-color: #305e4a;
}
.menu .menu-text {
  color: white;
  font-size: 30px;
}
.top-bar a{
  color: white;
}

.top-bar a:hover{
  color: white;
}
